<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">

    <title>Fantastic Four</title>
</head>
<body>
    <main class="app">
        <h1 class="hidden">Team</h1>
        <header>
            <img src="images/FantasticFour-logoOrange.svg" alt="The Fantastic Four logo">

            <nav id="mainNav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Our Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <div id="bioHero">
            <h2>Your Name</h2>
            <hr id="separator">
            <div id="bioInfo">
                <img src="images/Your Photo.jpg" alt="  photo">

                <div id="skills">
                    <h3> UI Design/Motion Design </h3>
                    <p>Lorem ipsum....
                    </p>

                    <h3>Skills</h3>
                    <p>** Your Skills
                    </p>


                </div>
            </div>

        </div>


    </main>

</body>
</html> 
